* {
    margin: 0;
    padding: 0;
}

.list-item {
    margin: 20px 0;
}
.complete {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-color: #ff6c6c;
    opacity: 0.6;
}
.list {
    width: 220px;
    background-color: none;
    border: none;
    color: #ccc;
    font-size: 20px;
}
.input:focus,
button:focus {
    outline: none;
}
.todo-app {
    width: 100px;
    margin-left: 460px;
    padding: 10px;
}
.scrol::-webkit-scrollbar{
    display: none;
}
